$base-color: #040530;   // <-- 'Black Rock'
$white-color: #D7D9DF;  // <-- 'Mischka'
$drama-color: #044193;  // <-- 'Congress Blue'
$accent-color: #10BEF3; // <-- 'Bright Turquoise'

@mixin dark-bg-text-base {
  background-color: $base-color;
  //color: $white-color;
  color: lighten($accent-color, .5);
}

@mixin dark-bg-text-base-hover-color {
  background-color: $drama-color;
  //color: darken($accent-color, .5);
  color: $white-color;
}
