@use '../../Styles/Abstracts' as *;
@use '../../Styles/Base/button-base' as *;

.jumbotron.contact-section {
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: $base-size;

  button {
    @include button-base-size-up;
    margin-top: $base-size;
    padding: $base-down-2;
    border-radius: $base-down-3;
    color: $blue;
    background-color: $steel;
  }

  button::before {
    border-radius: $base-down-3;
  }

  button:hover {
    color: $white-color;
    font-weight: bolder;
  }
}

.styled-input {
  @include simple-hover-timing;
  background: linear-gradient(120deg, $steel, $slate);
  color: $smoke;
  border: none;
  width: 100%;

  @include inset-shadow-steel;
}

.styled-label {
  position: relative;
  font-size: $base-size;
  margin-bottom: $base-size;
  border-top: $base-size solid transparent;
  height: auto;
}

.placeholder {
  position: absolute;
  left: $base-down-2;
  top: 50%;
  color: lighten($slate, 40);
  transform: translateY(-50%);
  @include simple-hover-timing;
}

.styled-input:not(:placeholder-shown) + .placeholder,
.styled-label:focus-within .placeholder {
  top: -$base-down-1;
  left: 0;
  color: $blue;
}

textarea.styled-input + .placeholder {
  top: $base-size;
}

.styled-label::after {
  content: "";
  position: absolute;
  top: 110%;
  height: 2px;
  border: none;
  left: 48%;
  right: 48%;
  @include simple-hover-timing;
}

.styled-label:focus-within::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: $blue;
}
