@use '../../Styles/Abstracts' as *;
@use '../../Styles/Base/button-base' as *;

.jumbotron.contact-section {
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: $base-size;

  label {
    color: $blue;
    margin-bottom: $base-down-2;
  }

  input {
    margin-bottom: $base-down-1;
  }

  textarea {
    margin: 0;
    margin-top: 0;
  }

  input,
  textarea {
    background: linear-gradient(120deg, $steel, $slate);
    color: $smoke;
    border-radius: $base-down-3;
    border: solid 1px rgba($smoke, 0);
    @include inset-shadow-steel;
  }

  input:focus,
  textarea:focus {
    border: solid 1px $smoke;
  }

  button {
    @include button-base-size-up;
    margin-top: $base-size;
    padding: $base-down-2;
    border-radius: $base-down-3;
    color: $blue;
    background-color: $steel;
  }

  button::before {
    border-radius: $base-down-3;
  }

  button:hover {
    color: $white-color;
    font-weight: bolder;
  }
}
