@use '../../Styles/Base/button-base' as *;
@use '../../Styles/Abstracts' as *;

.nav-bar-button {
    @include button-base-size-up;
    @include underlinable-button;
    padding: $base-down-3 $base-up-1;
    margin: 0 $base-down-4;
    border-radius: $base-down-3;

    pointer-events: all;
    @include small-shadow;
}

.nav-bar-button:hover {
  @include button-base-hover;
}

.nav-bar-button::after {
  @include button-underline;
}

.nav-bar-button:hover::after {
  @include button-underline-hover;
}

.nav-bar-button.active::after {
  @include button-underline-hover;
  background-color: $smoke;
}
