@use '../../Styles/Abstracts' as *;

.image-card-circle {
  position: relative;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  background-color: $darkless;
  @include card-shadow;

  //cursor: pointer;
}

.image-card-img-front {
  width: 100%;
  height: 100%;

  img {
    height: inherit;
  }
}

.image-card-back-details {
  position: absolute;
  top: $base-size;
  bottom: $base-size;
  left: $base-size;
  right: $base-size;
  border-radius: 50%;

  margin: 0;
  padding: 0 $base-size;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba($darkless, .8);
  opacity: 0;
  @include simple-hover-timing;
  transition-delay: .4s;

  cursor: pointer;

  li {
    padding: $base-down-3 0;
    //color: $snow;
  }

  li:first-child {
    border-bottom: solid 2px $slate;
  }

  li:last-child {
    border-top: solid 2px $slate;
  }
}

.image-card-back-details:hover {
  opacity: 1;
}

.icon-right-list-item {
  display: flex;
  align-items: center;
  i {
    color: $red;
  }
}

.image-card-circle::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-shadow: /*inset 0 0 0 4px $base-color,*/ inset 0 0 0 8px $blue, inset 0 0 0 16px $darkless;
}
