@use '../../Styles/Abstracts' as *;

.image-card-wrapper {
  position: relative;
  width: 15vw;
  height: 15vw;
  z-index: 30;
}

.image-card-circle {
  position: absolute;
  z-index: 20;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  background-color: $darkless;
  @include card-shadow;

  @include simple-hover-timing;
}

.image-card-circle + .active-container {
  top: 3.75vw;
  left: 3.75vw;
}

.image-card-circle.active-select {
  box-shadow: 0 -2px 8px 2px rgba($drama-color, .4);
}

.image-card-circle.active-select .image-card-back-details {
  opacity: 1;
  background: linear-gradient($darkless, $dark);
}

.image-card-circle.active-select + .active-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;

  transform: translate(-6rem, -6rem);
}

.active-container {
  position: absolute;
  z-index: 10;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba($blue, .2);
  filter: blur($base-up-2);
  @include simple-hover-timing;
}

.image-card-img-front {
  width: 100%;
  height: 100%;
  @include simple-hover-timing;

  img {
    height: inherit;
  }
}

.image-card-back-details {
  position: absolute;
  top: $base-size;
  bottom: $base-size;
  left: $base-size;
  right: $base-size;
  border-radius: 50%;


  margin: 0;
  padding: 0 $base-size;
  padding-left: $base-up-2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(rgba($darkless, .8), rgba($dark, .8));
  opacity: 0;
  @include simple-hover-timing;
  transition-delay: .1s;
  border: solid 2px $slate;

  cursor: pointer;

  li {
    padding: $base-down-3 0;
    color: $snow;
  }

  li:first-child {
    border-bottom: solid 2px $slate;
  }

  li:nth-child(2) {
    color: darken($snow, 10);
  }

  li:last-child {
    border-top: solid 2px $slate;
  }
}

.image-card-back-details:hover {
  opacity: 1;
}

.icon-right-list-item {
  display: flex;
  align-items: center;
  i {
    color: $red;
    margin-left: $base-down-4;
    @include text-shadow;
  }
}

.image-card-circle::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px rgba($blue, .6), inset 0 0 0 16px $darkless;
  @include simple-hover-timing;
}
