@use '../../Styles/Abstracts' as *;

.image-details-portal {
  position: absolute;
  inset: 6rem;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  z-index: 500;
  pointer-events: none;

  animation: fade-in .7s .7s both;
}

.fullsize-portal-img {
  height: 100%;
  padding: $base-size;
  background-color: $darkless;
  border-radius: $base-down-2;
  border: solid 2px rgba($slate, .6);
  box-shadow: 0 -2px 8px 2px rgba($drama-color, .4);
  @include card-shadow;
}

.fullsize-portal-img img {
  width: auto;
  height: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
