@use '../Abstracts' as *;

@mixin button-base {
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  @include sans-serif-base;
  @include simple-hover-timing;
  @include small-shadow;
  @include text-shadow;
}

@mixin button-base-size-up {
  @include button-base;
  font-size: $base-up-2;
}

@mixin button-base-hover {
  font-weight: bolder;
  @include dark-bg-text-base-hover-color;
}

@mixin underlinable-button {
  position: relative;
}

@mixin button-underline {
    content: "";
    position: absolute;
    width: 10%;
    height: $base-down-4;
    top: 105%;
    left: 0%;
    background-color: rgba($accent-color, 0);
    border-radius: $base-down-3;
    @include simple-hover-timing;
}

@mixin button-underline-hover {
  background-color: rgba($accent-color, 1);
  width: 100%;
}
