@use '../Abstracts' as *;

@mixin button-base {
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  @include sans-serif-base;
  @include simple-hover-timing;
  @include small-shadow;
  @include text-shadow;

  @include gradient-button-background
}

@mixin gradient-button-background {
  position: relative;
  z-index: 1;
  @include dark-bg-text-base;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    @include simple-hover-timing;
    @include dark-bg-text-base-hover-color;
  }

  &:hover::before {
    opacity: 1;
  }
}

@mixin button-base-size-up {
  @include button-base;
  font-size: $base-up-2;
}

@mixin underlinable-button {
  position: relative;
}

@mixin button-underline {
    content: "";
    position: absolute;
    width: 10%;
    height: $base-down-4;
    top: 105%;
    left: 0%;
    background-color: rgba($accent-color, 0);
    border-radius: $base-down-3;
    @include simple-hover-timing;
}

@mixin button-underline-hover {
  background-color: rgba($accent-color, 1);
  width: 100%;
}
