@use '../Abstracts/colors' as *;

@mixin gradient-fade-from-right {
  -webkit-mask-image: -webkit-gradient(linear, right top, left bottom,
  from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

@mixin gradient-fade-from-left {
  -webkit-mask-image: -webkit-gradient(linear, left center, right center,
  from(rgba(0,0,0,.8)), to(rgba(0,0,0,0)));
}

.hero-img {
  height: 100vh;
  position: absolute;
  top: 0;

  img {
    height: inherit;
  }
}

.hero-img--right-side {
  right: 0;
}

.hero-img--left-side {
  left: 0;
}

.hero-img--right-side.gradient-fade {
  @include gradient-fade-from-right;
}

.hero-img--left-side.gradient-fade {
  @include gradient-fade-from-left;
}
